#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
[gcode_macro PRINT_END]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 20, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-15.0 F3000                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    # Awaiting cooldown of nozzle to help cleaning
    SET_DISPLAY_TEXT MSG="Prep. nozzle clean"          # Displays info
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=175
    CLEAN_NOZZLE
    G0 X{x_safe} Y{y_safe} Z{z_safe} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    SET_PIN PIN=caselight VALUE=0.1
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
